.ProseMirror {
  @apply prose prose-slate max-w-none;

  padding: 60px 80px 48px 80px;
}

.tiptap p.is-editor-empty:first-child::before,
.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.drag-handle {
  transition-property: top;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
